/*
.texto-mayusc{
}
*/


.titulo-color{
    font-size: 50px;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px rgba(99, 0, 255, 1);

}

.texto-color{
    text-shadow: 2px 2px 2px rgba(99, 0, 255, 1);
    -webkit-text-stroke: 0.5px rgb(233, 228, 228);
}

.banner-imagen{
    display: block;
    margin: auto;
}

.banner-fondo{
    background-image: linear-gradient(to bottom, #020204, #131625, #192443, #173363, #004486);
 }

 .banner-borde{
    background-color:rgb(255, 255, 255);
    border: 1px solid transparent;
    border-image: linear-gradient(to bottom right, #4027fc 0%, #2c90fc 25%, #33bafd 50%, #fe37dd 75%, #fd1892 100%);
    border-image-slice: 1;
}














/*
.texto-color{
    text-shadow: 4px 4px 2px rgba(255, 0, 0, 1);

}


*/