.nosotros-fondo{
    background-image: linear-gradient(to left, #ff0000, #ff0040, #ff006e, #f6009a, #d500c3, #b800b8, #9b00ad, #7f00a0, #6e0068, #51013c, #2e0a1d, #000000);
}


.nosotros-h3-formato{
    color: white;
}

.nosotros-p-formato{
    color: white;
}