html {
    font-family: 'museo-sans', san-serif;
    font-size: 100%;
  }
  body {
    margin: 0;
  }
  h1 {
    font-size: 2.375rem;
    line-height: 1.32;
    margin: 0 0 0.5em;
  }
  h2[slot=title] {
    margin: 0;
    font-size: 1.25em;
  }
  section {
    padding: 1.5em 0;
  }
  * {
    box-sizing: border-box;
  }
  *:not(:defined) {
    opacity: 0;
  }
  .wrapper {
    max-width: 1180px;
    margin: 0 auto;
    width: 96%;
  }